.about{
    padding: 0rem;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    h3{
        text-align: left;
        font-size: 4rem;
        font-weight: 300;
        padding-bottom: 0.2rem;
    }
    p{
        text-align: left;
        font-size: 1.5rem;
        font-weight: 100;
        padding-bottom: 0.2rem;

    }
    &__img{
        position: absolute;
        z-index: -1;
        left: 0%;

        width:100%
    }
    @include respond(tab-port) {
        h3{
            text-align: left;
            font-size: 2.2rem;
            font-weight: 300;
            padding-bottom: 0.2rem;
        }
        p{
            text-align: left;
            font-size: 0.75rem;
            font-weight: 100;
            padding-bottom: 0.2rem;
    
        }

    }
    &__mantra{
        margin:0;

        h3{
            text-align: center;
            font-size: 4rem;
            padding:0px;
            margin-bottom:0;

            font-weight: 500;
            padding-bottom: 0rem;
        }
        p{
            text-align: center;
            padding-top : 2rem;
            margin:0;

            font-size: 1.5rem;
            font-weight: 300;
            padding-bottom: 0.2rem;
    
        }
    }
}