.hero {
    position: relative;

    &__img {
        display: flex;
        justify-content: center;
        height: 85vh;
    }

    &__caption {
        position: absolute;
        top: 30%;
    }

    &__header {
        color: #f4e22c;
        font-family: 'Hearth Stone', sans-serif;
        font-weight: 300;
        margin: 0 auto;
        margin-bottom: 1rem;
        line-height: 1.3;
        font-size: 5rem;
        
        @media (min-width: 768px) {
            font-size: 5rem;
        }

        @media (min-width: 1120px) {
            font-size: 7.5rem;
        }
    }

    &__content {
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 0;
        margin-top: 0;

        padding-left:5rem;
        padding-right:5rem;

        font-weight: normal;
        @include respond(tab-port) {
            font-size: clamp(1rem,1.7rem, 1.7rem);
            line-height: 1.5;
            padding-left:1.5rem;
            padding-right:1.5rem;
        }
    }
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(235, 77, 55, .5);
}

.mobile-carousel {
    display: block;
    width: 100%;
    @media (min-width: 768px) {
        display: none;
    }
}

.desktop-carousel {
    display: none;
    width: 100%;
    @media (min-width: 768px) {
        display: block;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}