.hero {
    position: relative;

    &__img {
        display: flex;
        justify-content: center;
    }

    &__caption {
        position: absolute;
        top: 30%;
    }

    &__header {
        color: #f4e22c;
        font-family: 'Hearth Stone', sans-serif;
        font-size: 6.25rem;
        font-weight: 300;
        margin: 0 auto;
        
        @include respond(tab-port) {
            margin-bottom: 1rem;
            line-height: 1.3;
        }
    }

    &__content {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: 0;

        padding-left:5rem;
        padding-right:5rem;

        font-weight: normal;
        @include respond(tab-port) {
            font-size: 1.8rem;
            padding-left:1.5rem;
            padding-right:1.5rem;
        }
    }
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(235, 77, 55, .5);
}

.mobile-carousel {
    display: none;
    width: 100%;
    @include respond(phone) {
        display: block;
    }
}

.desktop-carousel {
    display: block;
    width: 100%;
    @include respond(phone) {
        display: none;
    }
}