.offer {
    overflow: hidden;
    position: relative;
    background: #f4f4f4;
    padding: 5rem 0;
    
    &__banner {
        background-image: url('../../../img/Program.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        display: block;
        border: none;
    }

    &__svg {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    &__container {
        @media (min-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &__card {
        display: grid;
        margin: 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 2rem;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 1rem;
        
        @media (min-width: 1120px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
        }

        &-body {
            background: #fff;
            padding: 2rem;
        }


        &-image {
            height: 250px;
        }

        &-subheading {
            margin-bottom: 1rem;
            color: #7ccdce;
        }

        &-text {
            margin-top: .5rem;
            color: #464646;
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__content {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        width: 100%;
        overflow: hidden;
        order: -1;
        z-index: 100;
        
        @media (min-width: 768px) {
            order: 0;
            flex: 0 0 65%;
            max-width: 65%;
            padding-left: 2rem;
        }

        &--wrapper {
            display: flex;
            flex-direction: column;
            height: 0;
            opacity: 0;
            transition: all .3s ease;

            &-animate {
                opacity: 1;
                height: 100%;
            }
        }
    }

    &__text {
        text-align: left;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        transition: .3s all ease;
        padding-left: 15px;
        padding-right: 15px;

        &--subheading {
            color: #000;
            font-weight: 600;
        }

        &--animate {
            transform: translateX(0);
        }
    }

    &__header {

        h1 {
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 2rem;
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;

        }

        &--signature {

            h1 {
                font-family: "Hearth Stone",sans-serif;
                color: #f4e22c;
            }
        }
    }
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: rgba(255,255,255,.5);

    @media (min-width: 768px) {
        display: none;
    }
}